html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

.container {
  position: relative;
  height: 100vh;
}

.burger__form {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.burger__input {
  display: none;
}

.burger__line {
  position: relative;
  top: 50%;
  width: 40px;
  height: 4px;
  background-color: rgb(74, 255, 98);
  transition: background 0.1s linear 0.3s;
}

.burger__line::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  width: 40px;
  height: 4px;
  background-color: rgb(74, 255, 98);
  transition: transform 0.3s ease, top 0.3s ease 0.3s,
    background 0.1s linear 0.3s;
}

.burger__line::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  width: 40px;
  height: 4px;
  background-color: rgb(74, 255, 98);
  transition: transform 0.3s ease, top 0.3s ease 0.3s,
    background 0.1s linear 0.3s;
}

.burger__input:checked ~ .burger__line::before {
  top: 0;
  transform: rotate(45deg);
  background-color: tomato;
  transition: top 0.3s ease, transform 0.3s ease 0.3s,
    background 0.1s linear 0.3s;
}

.burger__input:checked ~ .burger__line::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: tomato;
  transition: top 0.3s ease, transform 0.3s ease 0.3s,
    background 0.1s linear 0.3s;
}

.burger__input:checked ~ .burger__line {
  background-color: transparent;
  transition: background 0.3s linear;
}

.burger__label {
  display: block;
  position: absolute;
  top: 0;
  background-color: teal;
  left: 0;
  opacity: 0;
  width: 40px;
  height: 38px;
  z-index: 1;
}

/* //menu// */
.burger__menu {
  /* position: absolute; */
  margin: 30px auto 0;
  display: block;
  max-width: 100px;
  text-align: center;
  height: 0;
}

.burger__link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(83, 83, 83);
  border: 1px solid transparent;
  padding: 5px;
  transition: transform 0.3s ease, border 0.1s linear;
}

.burger__link:hover,
.burger__link:focus {
  transform: scale(1.3);
  border-width: 10px;
  border-top: 1px solid rgb(53, 211, 132);
  border-bottom: 1px solid rgb(53, 211, 132);
}

.burger__input:checked ~ .burger__menu {
  display: block;
}
